.container{
    width: 200px;
    display: flex;
    padding: 10%;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
}

.containers{
    background-color: rgb(209, 192, 169);
}

.error {
    color: red;
}

.add-btn{
    border-radius: 6px;
    background-color: #eede01;
    padding: 7px 7px;
    margin: 7px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}


.search-btn{
    border-radius: 6px;
    background-color: #eede01;
    padding: 7px 7px;
    margin: 7px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
  }

  .countries {
      font-size:xx-large;
      display: inline-block;
  }

  #searchCountry{
    padding: 8px 8px;
    margin: 8px 10;
    display: inline-block;
    border: 2px solid black;
    border-radius: 8px;
    box-sizing: border-box;
  }

  .addCountry {
    padding: 10px 10px;
    margin: 10px 10px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 8px;
    box-sizing: border-box;
  }

  .sortCountries{
    border-radius: 6px;
    background-color: #f0eaa1;
    padding: 7px 7px;
    margin: 7px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
  }

  .resetCountries {
    border-radius: 6px;
    background-color: #eede01;
    padding: 7px 7px;
    margin: 7px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
  }